@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .title{
    @apply md:text-7xl font-ndot text-4xl;
  }
}


*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #1C1C1C;
}

*::-webkit-scrollbar-thumb {
  background-color: #E1E4EA;
  border-radius: 0.5rem;
  border: 3px solid #E1E4EA;
}

.mask-image1{
  mask-image: url('/cards/card1.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: top;
  background-color: rgba(62,62,62,0.55);
}
.mask-image2{
  mask-image: url('/cards/card2.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: top;
  background-color: rgba(62,62,62,0.55);
}
.mask-acc{
  mask-image: url('/acc_mask.webp');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: top;
}